@import "vars";
@import "fonts";

body {
    font-family: 'HelveticaNeueCyr';
    font-size: 18px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1030px;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (max-width: 575px) {	
        padding: 10px;
    }
}

.main {
    overflow: hidden;
}

// -- Header --
.header {
    width: 100%;
    background-color: #ffffff;
    padding-top: 10px;
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
        @media screen and (max-width: 1030px) {
            max-width: 100%;
        }
        @media screen and (max-width: 575px) {	
            flex-direction: column;
        }
    }
    &__content {
        max-width: 500px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 575px) {	
            margin-bottom: 20px;
        }
    }

    &__logo {
        display: block;
        @media screen and (max-width: 1030px) {
            max-width: 100%;
        }
        
        & img { 
            @media screen and (max-width: 775px) {
                width: 100%;
            }
            @media screen and (max-width: 575px) {	
                width: 85%;
            }
        }
    }
    &__text {
        font-size: 24px;
        font-weight: 300;
        color: #333333;
        padding-left: 26px;
        line-height: 28px;
        @media screen and (max-width: 1030px) {
            font-size: 22px;
        }
        @media screen and (max-width: 775px) {
            font-size: 18px;
        }
        @media screen and (max-width: 775px) {
            font-size: 14px;
            line-height: 22px;
        }
        @media screen and (max-width: 575px) {	
            padding-left: 0;
        }
        @media screen and (max-width: 375px) {	
            font-size: 10px;
            line-height: 14px;
        }
    }
    &__contact {
        max-width: 255px;
        display: flex;
        flex-direction: column;
    }
    &__number {
        font-family: @Light;
        font-size: 30px;
        font-weight: 500;
        color: #333333;
        padding-left: 30px;
        padding-bottom: 15px;
        position: relative;
        @media screen and (max-width: 1030px) {
            font-size: 22px;
        }
        @media screen and (max-width: 775px) {
            font-size: 14px;
        }
        @media screen and (max-width: 575px) {	
            text-align: center;
        }
        &::before {
            content: "";
            width: 17px;
            height: 30px;
            background: url("../img/header/phone.png") no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width: 1030px) {
                width: 100%;
            }
            @media screen and (max-width: 775px) {	
                background-size: 17px 22px;
                top: -4px;
                }
        }
        &_bold {
            font-family: @Bold;
            font-weight: 500;
        }
    }
    &__button {
        width: 250px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #009900;
        border: none;
        text-decoration: none;
        transition: all 0.2s linear;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        @media screen and (max-width: 575px) {	
            width: 100%;
            
        }
        &:hover {
            background-color: #10c510;
        }
        &_text {
            font-size: 22px;
            font-weight: 300;
            color: #ffffff;
            @media screen and (max-width: 1030px) {
                font-size: 20px;
            }
            @media screen and (max-width: 775px) {
                font-size: 12px;
            }
           
    }
}
}

// -- Intro --

.intro {
    width: 100%;
    background: url("../img/intro/intro-bg.jpg") no-repeat center;
    background-size: cover;

    &-inner {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 1030px) {
            max-width: 100%;
        }
        @media screen and (max-width: 775px) {
            justify-content: center;
            min-height: 450px;
        }
    }
    &__horizontal-bar {
        padding-bottom: 18px;
        & img {
            @media screen and (max-width: 950px) {
                max-width: 100%;
            }
        }
        @media screen and (max-width: 775px) {
            display: none;
        }
    }
    &__product {
        width: 100%;
        max-width: 540px;
        padding-top: 12px;
        position: relative;
        @media screen and (max-width: 775px) {
            display: none;
        }
        &_circle {
            width: 125px;
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/intro/ellipse.png") no-repeat;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 179px;
            @media screen and (max-width: 775px) {
                display: none;
            }
        }
        &_man {
            max-width: 265px;
            max-height: 400px;
            position: absolute;
            right: 0;
            bottom: 0;
            @media screen and (max-width: 950px) {
                display: none;
            }
        }
    }
    &-price {
        max-width: 80px;
        line-height: 28px;
        text-align: center;
        vertical-align: middle;
        &-old {
            font-size: 22px;
            font-weight: 300;
            color: #333333;
            text-decoration: line-through;
        }
        &-new {
            font-size: 30px;
            color: #cb0000;
            font-weight: 700;
        }
    }
    &__description {
        max-width: 155px;
        font-family: @Light;
        font-size: 18px;
        color: #333333;
        margin-left: 48px;
        margin-bottom: 30px;
        position: relative;
        @media screen and (max-width: 1030px) {
            max-width: 30%;
        }
        @media screen and (max-width: 950px) {
            font-size: 14px;
        }
        @media screen and (max-width: 775px) {
            display: none;
        }
        &::before {
            content: "";
            width: 29px;
            height: 28px;
            background: url("../img/header/rotate-arrow.png") no-repeat;
            position: absolute;
            top: 3px;
            left: -47px;
            @media screen and (max-width: 1030px) {
                width: 100%;
            }
            @media screen and (max-width: 950px) {
                top: 1px;
            }
            @media screen and (max-width: 775px) {
                display: none;
            }
        }
        &_bold {
            font-family: @Bold;
        }

    }
    &-order {
        max-width: 350px;
        max-height: 352px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background-color: #fff;
        @media screen and (max-width: 775px) {
            max-height: 305px;
        }

        &__button {
            width: 350px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url("../img/intro/yellow-button.png") no-repeat;
            margin-bottom: 10px;
            text-decoration: none;
            cursor: pointer;
            @media screen and (max-width: 1030px) {
                width: 100%;
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 291px;
                font-size: 18px;
                font-weight: 300;
                color: #ffffff;
                @media screen and (max-width: 775px) {
                    font-size: 15px;
                }
                &_bold {
                    font-family: @Medium;
                    font-size: 24px;
                    color: #ffffff;
                }
            }
        }
    }
    &-form {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        input:focus,
        input:hover {
            transition: all 0.2s ease;
            box-shadow: inset 0 0 8px rgba(65, 121, 241, 0.411);
        }
        &-wrapper {
            max-width: 350px;
            background-color: #fff;
            margin-bottom: 27px;
            @media screen and (max-width: 1030px) {
                width: 100%;
            }
        }
        &__email,
        &__name,
        &__tel {
            font-family: @Light-Italic;
            width: 330px;
            height: 40px;
            font-size: 18px;
            color: #656565;
            padding: 15px;
            margin-bottom: 10px;
            background-color: #f5f5f5;
            border: 0;
            @media screen and (max-width: 1030px) {
                width: 95%;
            }
            @media screen and (max-width: 950px) {
                font-size: 14px;
            }
            @media screen and (max-width: 775px) {
                width: 95%;
                height: 25px;
            }
        }
        &_additional {
            max-width: 330px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media screen and (max-width: 950px) {
                width: 95%;
            }

            &__items {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 13px;
                position: relative;
                &:last-child {
                    margin-bottom: 10px;
                }
                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    background: url("../img/intro/question.png") no-repeat;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        &__checkbox {
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 13px;
            border: 1px solid #cccccc;
            cursor: pointer;
            position: relative;
            &:checked + label {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 0;
                border: 3px solid #cccccc;
                background: #990000;
                transition: 0.1s;
                position: absolute;
                top: 0;
                left: 0;
            }

            &-text {
                font-size: 14px;
                font-weight: 300;
                color: #656565;
                @media screen and (max-width: 950px) {
                    font-size: 12px;
                }
                @media screen and (max-width: 775px) {
                    font-size: 11px;
                }

                &_red {
                    color: #990000;
                    font-weight: 400;
                }
            }

        }
        &__button {
            width: 330px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: url("../img/intro/red-button.png") no-repeat;
            cursor: pointer;
            transition: all 0.2s linear;
            @media screen and (max-width: 1030px) {
                width: 95%;
            }
            @media screen and (max-width: 775px) {
                height: 45px;
            }
            &:hover {
                filter: saturate(150%);
            }
            &-text {
                font-size: 24px;
                font-weight: 300;
                color: #ffffff;
            }
        }
    }
    &-timer {
        display: flex;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        &__discount {
            width: 110px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fccd0f;
            position: relative;
            @media screen and (max-width: 950px) {
                width: 50%;
                height: 90px;
            }
            @media screen and (max-width: 775px) {
                height: 65px;
            }
            &::before {
                content: '';
                position: absolute;
                top: -30px;
                right: 35px;
                border: 20px solid transparent;
                border-bottom: 20px solid #fccd0f;
                @media screen and (max-width: 950px) {
                    right: calc(50% - 20px);
                }
            }
            &_text {
                max-width: 70px;
                display: flex;
                flex-direction: column;
                font-size: 18px;
                color: #000000;
                @media screen and (max-width: 950px) {
                    font-size: 16px;
                }
                &-bold {
                    font-family: @Bold;
                    font-weight: 700;
                    margin-bottom: 5px;
                    @media screen and (max-width: 775px) {
                        font-size: 10px;
                    }
                }
                &-light {
                    font-family: @Light;
                    margin-bottom: 5px;
                    @media screen and (max-width: 775px) {
                        font-size: 10px;
                    }
                }
                &-percent {
                    font-family: @Bold;
                    font-size: 24px;
                    color: #980000;
                    @media screen and (max-width: 775px) {
                        font-size: 14px;
                    }
                }
            }
        }
        &__box {
            width: 250px;
            height: 100px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            @media screen and (max-width: 950px) {
                max-width: 100%;
                height: 90px;
                justify-content: center;
            }
            @media screen and (max-width: 775px) {
                height: 65px;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 950px) {
                max-width: 100%;
                font-size: 18px;
            }

            &-suptitle {
                font-size: 18px;
                font-weight: 300;
                color: #333333;
                padding-top: 14px;
                margin-bottom: 8px;
                @media screen and (max-width: 950px) {
                    padding-top: 0;
                    font-size: 13px;
                }
            }
            &-number {
                display: flex;
                font-size: 36px;
                color: #990000;
                @media screen and (max-width: 950px) {
                    width: 100%;
                    justify-content: center;
                }
                &_items {
                    display: flex;
                    flex-direction: column;
                    margin-right: 23px;
                    @media screen and (max-width: 950px) {
                        font-size: 22px;
                        align-items: center;
                        margin-right: 5%;
                        @media screen and (max-width: 950px) {
                            margin-right: 5%;
                        }
                    }
                    &:nth-child(3) {
                        margin-right: 20px;
                        @media screen and (max-width: 950px) {
                            margin-right: 5%;
                        }
                    }
                    &:nth-child(4) {
                        margin-right: 22px;
                        @media screen and (max-width: 950px) {
                            margin-right: 5%;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &-subtitle {
                font-size: 14px;
                color: #333333;
                font-weight: 300;
                @media screen and (max-width: 950px) {
                    justify-content: center;
                    font-size: 12px;
                }
            }

        }
    }
}

// -- Advantage --

.advantage {
    width: 100%;
    background: url("../img/advantage/advantage-bg.jpg") no-repeat center;
    background-size: cover;
    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    &__items {
        width: 33.33333%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 575px) {	
            width: 50%;
        }
        &:nth-child(1) {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &:nth-child(2) {
            margin-top: 30px;
            margin-bottom: 58px;
        }
        &:nth-child(3) {
            margin-top: 30px;
            margin-bottom: 58px;
        }
        &:nth-child(4) {
            margin-bottom: 38px;
        }
        &:nth-child(5) {
            margin-bottom: 38px;
        }
        &:nth-child(6) {
            margin-bottom: 38px;
        }
        &-img {
            margin-bottom: 19px;
            @media screen and (max-width: 575px) {	
                margin-bottom: 10px;
            }
            & img {
                height: 60px;
            }
        }
        &-text {
            text-align: center;
            @media screen and (max-width: 850px) {
                line-height: 26px;
            }
            @media screen and (max-width: 575px) {	
                line-height: 23px;
            }
        }

        &-title {
            font-family: @Bold;
            font-size: 30px;
            color: #ffffff;
            @media screen and (max-width: 950px) {
                font-size: 26px;
            }
            @media screen and (max-width: 850px) {
                font-size: 20px;
            }
            @media screen and (max-width: 775px) {
                font-size: 15px;
            }
            @media screen and (max-width: 575px) {	
                font-size: 12px;
            }
        }
        &-subtitle {
            font-family: @Light;
            font-size: 24px;
            color: #ffffff;
            @media screen and (max-width: 950px) {
                font-size: 20px;
            }
            @media screen and (max-width: 850px) {
                font-size: 16px;
            }
            @media screen and (max-width: 775px) {
                font-size: 15px;
            }
            @media screen and (max-width: 775px) {
                font-size: 11px;
            }
        }
    }
}

// -- Characteristic

.characteristic {
    width: 100%;
    background: url("../img/characteristic/characteristic-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        max-width: 905px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 65px;
        @media screen and (max-width: 950px) {
           max-width: 100%;
           justify-content: space-around;
        }
        @media screen and (max-width: 850px) {
                flex-direction: column;
                align-items: center;
        }
    }
    &-wrapper {
        max-width: 410px;
        background-color: transparent;
        @media screen and (max-width: 950px) {
           width: 70%;
        }
        @media screen and (max-width: 850px) {
                margin-bottom: 30px;
        }
    }
    &-product {
        max-width: 410px;
        background-color: #ffffff;

        &__horizontal-bar {
            max-width: 410px;
            margin-bottom: 10px;
            & img {
                width: 273px;
                height: 273px;
                @media screen and (max-width: 450px) {	
                    width: 100%;
                }
            }
            &_content {
                display: flex;
                background: url("../img/characteristic/characteristic-bg.png") no-repeat;
            }
            &_items {
                display: flex;
                margin-right: 14px;
                & img {
                    @media screen and (max-width: 950px) {
                         width: 100%;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__title {
        font-size: 36px;
        color: #333333;
        font-weight: 300;
        padding-top: 49px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 950px) {
            font-size: 30px;
            padding-top: 30px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }
    }

    &-product {
        &__button {
            width: 410px;
            height: 60px;
            background: url("../img/characteristic/blue-button.png") no-repeat center;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            @media screen and (max-width: 625px) {	
                width: 100%;
                justify-content: center;
            }
            

            &_sale {
                    font-size: 30px;
                    font-weight: 700;
                    background: #ffcc00;
                    display: inline-block;
                    width: 100px;
                    height: 60px;
                    color: #ffffff;
                    position: absolute;
                    top: 0;
                    right: -47px;
                    line-height: 40px;
                    padding: 10px;
                    position: relative;
                    @media screen and (max-width: 625px) {	
                        display: none;
                    }
                &::after {
                    border-color: transparent #ffcc00 transparent transparent;
                    border-style: solid;
                    border-width: 32px 14px 28px 0;
                    content: '';
                    height: 0;
                    position: absolute;
                    right: 100%;
                    top: 0;
                    width: 0;
                }
            }
            &-price {
                font-size: 22px;
                font-weight: 200;
                color: #ffffff;
                margin-left: 16px;
                @media screen and (max-width: 625px) {	
                    margin-left: 0;
                }
                &_bold {
                    font-weight: 500;
                    @media screen and (max-width: 625px) {	
                        font-size: 20px;
                    }
                    @media screen and (max-width: 450px) {	
                        font-size: 16px;
                    }
                }
                &_old {
                    font-family: @Light;
                    text-decoration: line-through;
                    @media screen and (max-width: 625px) {	
                        font-size: 20px;
                    }
                    @media screen and (max-width: 450px) {	
                        font-size: 16px;
                    }
                }
                &_new {
                    font-family: @Bold;
                    font-size: 30px;
                    @media screen and (max-width: 625px) {	
                        font-size: 22px;
                    }
                    @media screen and (max-width: 450px) {	
                       font-size: 18px;
                    }
                }
            }
        }

    }
    &-description {
        display: flex;
        flex-direction: column;

        &__title {
            font-family: @Roman;
            font-size: 24px;
            color: #333333;
            text-align: left;
            margin-bottom: 30px;
            @media screen and (max-width: 950px) {
                font-size: 20px;
                margin-bottom: 15px;
            }
            @media screen and (max-width: 575px) {	
                font-size: 16px;
            }
            &:last-of-type {
                padding-top: 30px;
            }
        }
        &__content {
            font-family: @Roman;
            font-size: 24px;
            color: #333333;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &_items {
                font-family: @Light;
                font-size: 18px;
                color: #333333;
                line-height: 20px;
                @media screen and (max-width: 950px) {
                        font-size: 16px;
                }
                @media screen and (max-width: 575px) {	
                    font-size: 14px;
                }
            }
        }
    }
}

// -- Order -- 

.order {
    width: 100%;
    background: url("../img/order/order-bg.png") no-repeat center;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -30px;
        right: calc(50% - 10px);
        border: 20px solid transparent;
        border-bottom: 20px solid #f9ca0c;
    }
    &-inner {
        max-width: 960px;
        display: flex;
        align-items: center;
        padding: 24px 0;
        @media screen and (max-width: 1030px) {
            width: 100%;
            justify-content: center;
        }
        
    }
    &-form {
        display: flex;
        align-items: center;
        input:focus,
        input:hover {
            transition: all 0.2s ease;
            box-shadow: inset 0 0 8px rgba(65, 121, 241, 0.411);
        }
        @media screen and (max-width: 950px) {
            width: 98%;
        }
        @media screen and (max-width: 775px) {
            width: 103%;
        }
        @media screen and (max-width: 575px) {	
            flex-direction: column;
        }


        &__email,
        &__name,
        &__tel {
            font-family: @Light-Italic;
            width: 220px;
            height: 40px;
            font-size: 18px;
            color: #656565;
            padding: 15px 13px 13px;
            margin-right: 26px;
            border: 0;
            @media screen and (max-width: 1030px) {
                max-width: 100%;
            }
            @media screen and (max-width: 950px) {
                font-size: 15px;
            }
            @media screen and (max-width: 775px) {
                width: 80%;
                font-size: 12px;
                height: 25px;
            }
            @media screen and (max-width: 575px) {	
                width: 90%;
                margin-right: 0;
                margin-bottom: 20px;
            }

        }
        &__button {
            width: 220px;
            height: 60px;
            font-size: 24px;
            font-weight: 300;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/order/red-button.png") no-repeat;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.2s linear;
            @media screen and (max-width: 1030px) {
                max-width: 100%;
                font-size: 22px;
            }
            @media screen and (max-width: 950px) {
                max-width: 100%;
                font-size: 18px;
            }
            @media screen and (max-width: 775px) {
                width: 100%;
                height: 40px;
            }
            @media screen and (max-width: 575px) {	
                width: 30%;
            }
    
            &_text {
                text-align: center;
                @media screen and (max-width: 775px) {
                    font-size: 12px;
                }
                @media screen and (max-width: 575px) {	
                   
                }
            }

            &:hover {
                filter: saturate(150%);
            }
        }

    }
}

// -- Description -- 

.description {
    width: 100%;
    background: url("../img/description/description-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #ffffff;
        padding-top: 49px;
        margin-bottom: 53px;
        text-transform: uppercase;
        @media screen and (max-width: 950px) {
            font-size: 30px;
            padding-top: 30px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }
    }
    &-text {
        max-width: 956px;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 35px;
        @media screen and (max-width: 950px) {
            font-size: 15px;
        }
        @media screen and (max-width: 775px) {
            font-size: 12px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 10px;
            line-height: 16px;
        }
        &:last-child {
            margin-bottom: 55px;
        }

    }
}

// -- Merchandise -- 

.merchandise {
    width: 100%;
    background: url("../img/merchandise/merchandise-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        max-width: 955px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width: 850px) {
            justify-content: center;
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #333333;
        padding-top: 49px;
        margin-bottom: 50px;
        text-align: center;
        @media screen and (max-width: 950px) {
            font-size: 30px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }

    }
    &__items {
        display: flex;
        max-width: 955px;
        @media screen and (max-width: 850px) {
                flex-direction: column;
                align-items: center;
        }
        &:first-child { 
            @media screen and (max-width: 575px) {	
                margin-left: 0;
            }
        }
        &_img {
            margin-right: 19px;
            padding-bottom: 30px;
            position: relative;
            @media screen and (max-width: 850px) {
                width: 50%;
                margin-right: 0;
            }
            & img {
                @media screen and (max-width: 950px) {
                    width: 100%;
                }
            }
            &-last {
                margin-bottom: 49px;
                @media screen and (max-width: 850px) {
                    margin-bottom: 0;
                }
            }

            &-box {
                content: "";
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                height: 40px;
                font-size: 18px;
                font-weight: 300;
                color: #ffffff;
                background-color: #333333;
                position: absolute;
                top: 0;
                right: 0;
                @media screen and (max-width: 950px) {
                    width: 100%;
                    font-size: 16px;
                }
                @media screen and (max-width: 575px) {	
                    font-size: 13px;
                }

            }
            &:nth-child(2) {
                padding-bottom: 49px;
            }
        }
        &_text {
            max-width: 636px;
            font-size: 18px;
            font-weight: 300;
            color: #333333;
            line-height: 22px;
            @media screen and (max-width: 950px) {
                font-size: 15px;
            }
            @media screen and (max-width: 950px) {
                font-size: 13px;
                line-height: 20px;
            }
            @media screen and (max-width: 850px) {
                margin-bottom: 40px;
            }
            @media screen and (max-width: 575px) {	
                font-size: 11px;
            }
            &-bold {
                font-family: @Bold;
                font-size: 18px;
                color: #333333;
                @media screen and (max-width: 950px) {
                    font-size: 17px;
                }
                @media screen and (max-width: 950px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 575px) {	
                    font-size: 12px;
                }
            }
            &-list {
                display: flex;
                flex-direction: column;
            }
        }

    }
}

// -- Review --

.review {
    width: 100%;
    background: url("../img/review/review-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        display: flex;
        @media screen and (max-width: 850px) {
            flex-direction: column;
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #ffffff;
        padding-top: 49px;
        margin-bottom: 54px;
        text-align: center;
        @media screen and (max-width: 950px) {
            font-size: 30px;
            padding-top: 30px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }
    }
    &__img {
        opacity: 0.2;
        margin-right: 50px;
        @media screen and (max-width: 850px) {
            display: none;
        }

    }
    &-content {
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        @media screen and (max-width: 850px) {
                text-align: center;
        }
        &__title {
            display: inline-block;
            font-size: 18px;
            font-weight: 300;
            color: #ffffff;
            margin-bottom: 29px;
            @media screen and (max-width: 1030px) {
                font-size: 16px;
            }
            @media screen and (max-width: 950px) {
                font-size: 13px;
            }
        }
        &__video {
            width: 100%;
            height: 292px;
            margin-bottom: 29px;
            &:last-of-type {
                margin-bottom: 56px;
            }
        }
    }
}

// -- Comment --

.comment {
    width: 100%;
    background: url("../img/comment/comment-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #333333;
        padding-top: 49px;
        margin-bottom: 49px;
        text-align: center;
        @media screen and (max-width: 950px) {
            font-size: 30px;
            padding-top: 30px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }
    }
    &__items {
        display: flex;
        margin-bottom: 31px;
        &:nth-of-type(2) {
            @media screen and (max-width: 950px) {
                flex-direction: row-reverse;
            }
        }
        &:last-of-type {
            margin-bottom: 66px;
        }
        &_content {
            display: flex;
            flex-direction: column;

        }
        &_img {
            margin-right: 18px;
            & img {
                @media screen and (max-width: 950px) {
                    width: 100%;
                }
            }
            &-girl {
                margin-left: 18px;
                @media screen and (max-width: 950px) {
                    margin-left: 0;
                    margin-right: 18px;
                }
                & img {
                    @media screen and (max-width: 950px) {
                        width: 100%;
                    }
                }
            }

        }
        &_text {
            max-width: 812px;
            font-family: @Light-Italic;
            font-size: 18px;
            font-weight: 300;
            color: #333333;
            margin-bottom: 5px;
            @media screen and (max-width: 950px) {
                font-size: 16px;
            }
            @media screen and (max-width: 850px) {
                font-size: 15px;
            }
            @media screen and (max-width: 775px) {
                font-size: 13px;
            }
            @media screen and (max-width: 575px) {	
                font-size: 10px;
            }

            &-author {
                font-family: @Light;
                display: flex;
                justify-content: flex-end;
                font-size: 18px;
                font-weight: 400;
                color: #003366;
                @media screen and (max-width: 950px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 850px) {
                    font-size: 15px;
                }
                @media screen and (max-width: 575px) {	
                    font-size: 12px;
                }

            }
        }
    }
}

// -- Results --

.results {
    width: 100%;
    background: url("../img/results/results-bg.png") no-repeat center;
    background-size: cover;
    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__title {
        font-size: 36px;
        font-weight: 300;
        color: #ffffff;
        padding-top: 49px;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: 950px) {
                font-size: 30px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 26px;
        }
    }
    &-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (max-width: 775px) {
                flex-wrap: nowrap;
                flex-direction: column;
                align-items: center;
        }

        &__items {
            margin-right: 50px;
            margin-bottom: 50px;
            position: relative;
            @media screen and (max-width: 950px) {
                margin-right: 25px;
                margin-bottom: 25px;
            }
            @media screen and (max-width: 850px) {
                margin-right: 5px;
                margin-bottom: 5px;
            }
            @media screen and (max-width: 775px) {
                margin-right: 0;
            }
            @media screen and (max-width: 775px) {
                width: 75%;
            }
            & img {
                @media screen and (max-width: 950px) {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                margin-right: 0;
            }
            &:nth-of-type(3) {
                margin-bottom: 53px;
                @media screen and (max-width: 775px) {
                    margin-bottom: 5px;
                }
            }
            &:nth-of-type(4) {
                margin-right: 0;
                margin-bottom: 53px;
            }
            &_before {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                height: 50px;
                background-color: #333333;
                font-size: 24px;
                font-weight: 300;
                color: #ffe400;
                position: absolute;
                bottom: 0;
                left: 0;
                @media screen and (max-width: 950px) {
                    width: 50%;
                    font-size: 20px;
                }
            }
            &_after {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                height: 50px;
                background-color: #ffe400;
                font-size: 24px;
                font-weight: 300;
                color: #333333;
                position: absolute;
                bottom: 0;
                right: 0;
                @media screen and (max-width: 950px) {
                    width: 50%;
                    font-size: 20px;
                }
            }
        }
    }

}
// Repeat

.repeat {
    width: 100%;
    background: url("../img/repeat/repeat-bg.jpg") no-repeat center;
    z-index: 1;
    @media screen and (max-width: 775px) {
            display: none;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &__horizontal-bar {
        padding-bottom: 18px;
        & img {
            @media screen and (max-width: 950px) {
                max-width: 100%;
            }
        }
    }
    &__product {
        width: 100%;
        max-width: 540px;
        padding-top: 12px;
        position: relative;
        &_circle {
            width: 125px;
            height: 125px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../img/repeat/ellipse.png") no-repeat;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 179px;
            @media screen and (max-width: 775px) {
                display: none;
            }
        }
        &_man {
            max-width: 265px;
            max-height: 400px;
            position: absolute;
            right: 0;
            bottom: 0;
            @media screen and (max-width: 950px) {
                display: none;
            }
        }
    }
    &-price {
        max-width: 80px;
        line-height: 28px;
        text-align: center;
        vertical-align: middle;
        &-old {
            font-size: 22px;
            font-weight: 300;
            color: #333333;
            text-decoration: line-through;
        }
        &-new {
            font-size: 30px;
            color: #cb0000;
            font-weight: 700;
        }
    }
    &__description {
        max-width: 155px;
        font-family: @Light;
        font-size: 18px;
        color: #333333;
        margin-left: 48px;
        margin-bottom: 30px;
        position: relative;
        &::before {
            content: "";
            width: 29px;
            height: 28px;
            background: url("../img/header/rotate-arrow.png") no-repeat;
            position: absolute;
            top: 3px;
            left: -47px;
        }
        &_bold {
            font-family: @Bold;
        }

    }
    &-order {
        max-width: 350px;
        max-height: 352px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background-color: #fff;

        &__button {
            width: 350px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url("../img/repeat/yellow-button.png") no-repeat;
            margin-bottom: 10px;
            text-decoration: none;
            cursor: pointer;
            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 291px;
                font-size: 18px;
                font-weight: 300;
                color: #ffffff;
                &_bold {
                    font-family: @Medium;
                    font-size: 24px;
                    color: #ffffff;
                }
            }
        }
    }
    &-form {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input:focus,
        input:hover {
            transition: all 0.2s ease;
            box-shadow: inset 0 0 8px rgba(65, 121, 241, 0.411);
        }
        &-wrapper {
            max-width: 350px;
            background-color: #fff;
            margin-bottom: 27px;
        }
        &__email,
        &__name,
        &__tel {
            font-family: @Light-Italic;
            width: 330px;
            height: 40px;
            font-size: 18px;
            color: #656565;
            padding: 15px;
            margin-bottom: 10px;
            background-color: #f5f5f5;
            border: 0;
            @media screen and (max-width: 1030px) {
                width: 95%;
            }
            @media screen and (max-width: 950px) {
                font-size: 14px;
            }

        }

        &_additional {
            max-width: 330px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media screen and (max-width: 950px) {
                max-width: 95%;
            }

            &__items {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 13px;
                position: relative;
                &:last-child {
                    margin-bottom: 10px;
                }
                &::after {
                    content: "";
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    background: url("../img/repeat/question.png") no-repeat;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        &__checkbox {
            display: flex;
            width: 20px;
            height: 20px;
            margin-right: 13px;
            border: 1px solid #cccccc;
            background: #1900fa;
            cursor: pointer;
            position: relative;
            &:checked + label {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 0;
                border: 3px solid #cccccc;
                background: #990000;
                transition: 0.1s;
                position: absolute;
                top: 0;
                left: 0;
            }

            &-text {
                font-size: 14px;
                font-weight: 300;
                color: #656565;
                @media screen and (max-width: 950px) {
                    font-size: 12px;
                }

                &_red {
                    color: #990000;
                    font-weight: 400;
                }
            }

        }
        &__button {
            width: 330px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background: url("../img/repeat/red-button.png") no-repeat center;
            cursor: pointer;
            transition: all 0.2s linear;
            @media screen and (max-width: 1030px) {
                width: 95%;
            }
            &:hover {
                filter: saturate(150%);
            }
            &-text {
                font-size: 24px;
                font-weight: 300;
                color: #ffffff;
            }
        }
    }
    &-timer {
        display: flex;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        &__discount {
            width: 110px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fccd0f;
            position: relative;
            @media screen and (max-width: 950px) {
                width: 50%;
                height: 90px;
            }
            &::before {
                content: '';
                position: absolute;
                top: -30px;
                right: 35px;
                border: 20px solid transparent;
                border-bottom: 20px solid #fccd0f;
                @media screen and (max-width: 950px) {
                    right: calc(50% - 20px);
                }
            }
            &_text {
                max-width: 70px;
                display: flex;
                flex-direction: column;
                font-size: 18px;
                color: #000000;
                @media screen and (max-width: 950px) {
                    font-size: 16px;
                }
                &-bold {
                    font-family: @Bold;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
                &-light {
                    font-family: @Light;
                    margin-bottom: 5px;
                }
                &-percent {
                    font-family: @Bold;
                    font-size: 24px;
                    color: #980000;

                }
            }
        }
        &__box {
            width: 250px;
            height: 100px;
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
            @media screen and (max-width: 950px) {
                width: 100%;
                height: 90px;
                justify-content: center;
            }
        }
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 950px) {
                max-width: 100%;
                font-size: 18px;
            }

            &-suptitle {
                font-size: 18px;
                font-weight: 300;
                color: #333333;
                padding-top: 14px;
                margin-bottom: 8px;
                @media screen and (max-width: 950px) {
                    padding-top: 0;
                    justify-content: center;
                    font-size: 13px;
                }
            }
            &-number {
                display: flex;
                font-size: 36px;
                color: #990000;
                @media screen and (max-width: 950px) {
                    width: 100%;
                    justify-content: center;
                }
                &_items {
                    display: flex;
                    flex-direction: column;
                    margin-right: 23px;
                    @media screen and (max-width: 950px) {
                        font-size: 22px;
                        align-items: center;
                        margin-right: 5%;
                        @media screen and (max-width: 950px) {
                            margin-right: 5%;
                        }
                    }
                    &:nth-child(3) {
                        margin-right: 20px;
                        @media screen and (max-width: 950px) {
                            margin-right: 5%;
                        }
                    }
                    &:nth-child(4) {
                        margin-right: 22px;
                        @media screen and (max-width: 950px) {
                            margin-right: 0;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            &-subtitle {
                font-size: 14px;
                color: #333333;
                font-weight: 300;
                @media screen and (max-width: 950px) {
                    font-size: 12px;
                }
            }

        }
    }
}

// -- Footer -- 

.footer {
    width: 100%;
    min-height: 100px;
    @media screen and (max-width: 775px) {
        display: flex;
        align-items: center;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 625px) {	
            flex-direction: column;
        }
        @media screen and (max-width: 625px) {	
            margin-bottom: 15px;
        }
    }
    &-text {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        @media screen and (max-width: 450px) {	
            align-items: center;
        }
    }
    
    &__title {
        font-size: 24px;
        color: #333333;
        font-weight: 300;
        text-transform: uppercase;
        @media screen and (max-width: 950px) {
            font-size: 22px;
        }
        @media screen and (max-width: 775px) {
            font-size: 15px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 12px;
        }
        @media screen and (max-width: 450px) {	
            font-size: 15px;
        }
    }
    &__subtitle {
        font-size: 24px;
        color: #333333;
        font-weight: 300;
        @media screen and (max-width: 950px) {
            font-size: 22px;
        }
        @media screen and (max-width: 775px) {
            font-size: 15px;
        }
        @media screen and (max-width: 575px) {	
            font-size: 12px;
        }
        @media screen and (max-width: 450px) {	
            font-size: 15px;
        }
        @media screen and (max-width: 375px) {	
            font-size: 12px;
        }

    }

    &-contact {
        &__number {
            font-family: @Light;
            font-size: 30px;
            font-weight: 500;
            color: #333333;
            padding-left: 30px;
            padding-bottom: 15px;
            position: relative;
            @media screen and (max-width: 1030px) {
                font-size: 22px;
            }
            @media screen and (max-width: 775px) {
                font-size: 14px;
            }
            @media screen and (max-width: 575px) {	
                font-size: 12px;
            }
            &::before {
                content: "";
                width: 17px;
                height: 30px;
                background: url("../img/footer/phone.png") no-repeat center;
                position: absolute;
                top: 0;
                left: 0;
                @media screen and (max-width: 775px) {	
                    background-size: 17px 22px;
                    top: -4px;
                    }
            }
            &_bold {
                font-family: @Bold;
                font-weight: 500;
            }
        }
    }
    &__button {
        width: 250px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #009900;
        border: none;
        text-decoration: none;
        transition: all 0.2s linear;
        @media screen and (max-width: 1030px) {
            width: 100%;
        }
        &:hover {
            background-color: #10c510;
        }
        &_text {
            font-size: 22px;
            font-weight: 300;
            color: #ffffff;
            @media screen and (max-width: 1030px) {
                font-size: 20px;
            }
            @media screen and (max-width: 775px) {
                font-size: 15px;
            }
            @media screen and (max-width: 775px) {
                font-size: 12px;
            }
        }
    }
}
